/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@loadingio/loading.css/loading.css";
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
app-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  color: white;
}
app-loader{
  display: flex;
  flex-direction: column;
  align-items: center;
}
